body,
html {
  margin: 0;
  padding: 0;
  height: 105%;
  position: relative;
}

.header {
  background-color: #000;
  height: 120px;
}
.header__title {
  width: 1000px;
  margin: auto;
  padding: 0 40px;
  font-size: 40px;
  font-weight: bold;
  line-height: 120px;
  color: #fff;
}

.footer {
  background-color: #fff;
  width: 100%;
  height: 58px;
  position: absolute;
  bottom: 0;
  border: 1px solid #d1d1d1;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__wrap__contact,
.footer__wrap__author {
  display: flex;
  justify-content: center;
}

.footer__wrap__author {
  margin: 5px 0 0;
}
.footer__wrap__contact__text {
  font-size: 12px;
  font-weight: bold;
  color: #999;
}
.footer__wrap__author__text {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

main {
  height: 582px;
  padding: 40px 0;
}

.main__title {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.element_button {
  border: 1px solid #d1d1d1;
  width: 30%;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__title__form {
  margin-left: 14px;
  margin-right: 14px;
}

span {
  font-size: 16px;
}

.main__container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.main__container__title {
  margin-bottom: 30px;
  border-bottom: 1px solid #454545;
}
.main__container__title__text {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.main__container__wrap__element2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__theme {
  padding: 0 15px;
  border: 1px solid #d1d1d1;
  background-color: #f7f7f7;
  height: 46px;
  display: flex;
  align-items: center;
}
.container__theme__text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.container__contents {
  padding: 30px;
  border: 1px solid #d1d1d1;
  border-top: none;
}
.container__contents__text {
  font-size: 12px;
  color: #000;
}
